<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Parametrized Suite">
    <listeners>
        <listener class-name="pl.javastart.restasssured.test.testng.TestListener"/>
    </listeners>
    <test name="Parametrized Test 1">
        <parameter name="petId" value="0"/>
        <parameter name="expectedMessage" value="Pet not found"/>
        <classes>
            <class name="pl.javastart.restasssured.test.testng.ParametersTests"></class>
        </classes>
    </test>

    <test name="Parametrized Test 2">
        <parameter name="petId" value="aaa"/>
        <parameter name="expectedMessage" value="java.lang.NumberFormatException: For input string:"/>
        <classes>
            <class name="pl.javastart.restasssured.test.testng.ParametersTests"></class>
        </classes>
    </test>

    <test name="Parametrized Test 3">
        <parameter name="petId" value="!!!"/>
        <parameter name="expectedMessage" value="java.lang.NumberFormatException: For input string"/>
        <classes>
            <class name="pl.javastart.restasssured.test.testng.ParametersTests"></class>
        </classes>
    </test>
</suite>